# Dependencies
node_modules/

# Build output
dist/

# Vite
*.local

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Desktop.ini

# Debug
*.tsbuildinfo
.gstack/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
